body {
   background-color: #e0e2e1;
}

h1 {
   font-family: 'Oswald', sans-serif;
}

.header {
   webkit-backdrop-filter: saturate(180%) blur(20px);
   backdrop-filter: saturate(180%) blur(20px);
   background-color: rgba(255, 255, 255, 0.4);
}

.logo {
   animation: logoDown 0.8s;
}

@keyframes logoDown {
   0% {
      transform: translateY(-100%);
   }
   100% {
      transform: translateY(0%);
   }
}

.page {
   margin-top: -72px;
}

.boxy {
   background-color: lightgrey;
   width: 100%;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 200px;
   /* animation: movBox 4s infinite linear; */
}

@keyframes movBox {
   0% {
      transform: translateY(100%);
   }
   50% {
      transform: translateY(0%);
   }
   100% {
      transform: translateY(100%);
   }
}

.lettery {
   font-size: 130px;
   animation: letter-spring 4s infinite ease-in-out normal;
}

@keyframes letter-spring {
   0% {
      letter-spacing: 40px;
      color: lightgray;
      font-size: 80px;
   }
   50% {
      letter-spacing: 0px;
      color: black;
      font-size: 127px;
   }
   100% {
      letter-spacing: 40px;
      color: lightgray;
      font-size: 80px;
   }
}

.biglogo img {
   opacity: 0%;
   width: 30%;
   -webkit-animation: moveLogo 1.4s ease-out 0.5s forwards; /* Safari & Chrome */
   -moz-animation: moveLogo 1.4s ease-out 0.5s forwards; /* Firefox */
   -ms-animation: moveLogo 1.4s ease-out 0.5s forwards; /* Internet Explorer */
   -o-animation: moveLogo 1.4s ease-out 0.5s forwards; /* Opera */
   animation: moveLogo 1.4s ease-out 0.5s forwards; /* W3C */
}

@-ms-keyframes moveLogo {
   0% {
      opacity: 0%;
      transform: translateY(-150%);
   }
   50% {
      opacity: 100%;
      transform: translateY(10%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0%);
   }
}

@-o-keyframes moveLogo {
   0% {
      opacity: 0%;
      transform: translateY(-150%);
   }
   50% {
      opacity: 100%;
      transform: translateY(10%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0%);
   }
}

@-moz-keyframes moveLogo {
   0% {
      opacity: 0%;
      transform: translateY(-150%);
   }
   50% {
      opacity: 100%;
      transform: translateY(10%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0%);
   }
}

@-webkit-keyframes moveLogo {
   0% {
      opacity: 0%;
      transform: translateY(-150%);
   }
   50% {
      opacity: 100%;
      transform: translateY(10%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0%);
   }
}

@keyframes moveLogo {
   0% {
      opacity: 0%;
      transform: translateY(-150%);
   }
   50% {
      opacity: 100%;
      transform: translateY(10%);
   }
   100% {
      opacity: 100%;
      transform: translateY(0%);
   }
}

.carttext {
   animation: textup 1s ease-out;
}

@keyframes textup {
   0% {
      transform: translateY(10%);
      opacity: 0%;
   }
   100% {
      transform: translateY(0%);
      opacity: 100%;
   }
}


.heroback {
   background-color: #f2f2f2;
   margin-top: 0px;
}

.hero {
   background-image: url('/img/hero-back.jpg');
   background-size: cover;
   background-position: center;
   padding: 160px 100px;
}

.game {
   background-color: #303030;
   color: whitesmoke;
   border: 0px;
   padding: 20px 50px;
   font-size: 16px;
   border-radius: 50px;
   margin-bottom: 30px;
   transition: all 0.3s ease-in-out;
}

.game:hover {
   margin-top: -10px;
   box-shadow: 0 8px 9px 0 rgba(61, 61, 61, 0.404),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 40px;
}

.one {
   background-color: bisque;
   width: 100%;
   height: 300px;
   position: fixed;
   z-index: 1;
}

.two {
   background-color: brown;
   width: 100%;
   height: 500px;
   z-index: 2;
}

.box {
   background-color: whitesmoke;
   border: 0px;
   width: 200px;
   height: 300px;
   padding: 50px;
   font-size: 16px;
   margin-top: 50px;
   margin-left: 50px;
   margin-bottom: 30px;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.404),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
   transition: all 0.3s ease-out;
}

.box:hover {
   margin-top: 40px;

   box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.6),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 40px;
}

.backarea {
   height: 300px;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}

.boxed {
   background-color: rgb(8, 133, 133);
   height: 100px;
   width: 100px;
 }
 
 .transform {
   -webkit-transition: all 2s ease;  
   -moz-transition: all 2s ease;  
   -o-transition: all 2s ease;  
   -ms-transition: all 2s ease;  
   transition: all 2s ease;
 }
 
 .transform-active {
   width: 200px;
   animation: nk 2s ease-in-out forwards;
 }
   
 @keyframes nk {
   0% {
      transform: translateY(0%);
   }
   50% {
      transform: translateY(100%);
   }
   100% {
      transform: translateY(0%);
   }
}

.imgtwo {
   width: 100%;
   z-index: 1;
   margin-top: -90%;
}

.box1{
   background-color: yellow;
   padding: 20px;
   display: flex;
   align-content: center;
   justify-content: center;
}

.box2{
   background-color: orangered;
   color: whitesmoke;
   width: 20vw;
   height: 10vw;
   overflow: auto;
   border-radius: 5px
}

.box2::-webkit-scrollbar {
   width: 8px;
}

.box2::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 10px;
}

.box2::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}




body::-webkit-scrollbar {
   width: 9px;
   transition: all 5s ease-in-out;
}

body::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
   border-radius: 0px;
}

body::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background-color: #9b9b9b;
}

body::-webkit-scrollbar-thumb:hover {
   border-radius: 3px;
   -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,0.5); 
}